{% extends 'pages/base.html' %}
{% load static %}

--------------- Page Loader Section-->
{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="assets/img/seller-logo.png" type="image/icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DigiKala | Cart Page</title>
        <!-- Font Icon -->
        <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static '/css/vendor/bootstrap.min.css' %}">
        <!-- Plugins -->
        <link rel="stylesheet" href="{% static '/plugin/go-to-top/style.css' %}">
        <link rel="stylesheet" href="{% static '/plugin/iran-map/iranmap.css' %}">
        <!-- Main CSS File -->
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
    </head>
    <!--------------------------------- Main Content -->
    {% if cart_product %}
        {% for products in cart_product %}
            <main class="main-content dt-sl mb-3">
                <div class="container main-container">
                    <div class="row mx-0">
                        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 mb-2 mt-2"
                             style="padding-left: 0;padding-right: 0;">
                            <nav class="tab-cart-page">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link d-inline-flex w-auto active" id="nav-home-tab"
                                       data-bs-toggle="tab" data-bs-target="#nav-home" role="tab"
                                       aria-controls="nav-home" aria-selected="true">سبد خرید<span
                                            class="count-cart">1</span></a>
                                    <a class="nav-item nav-link d-inline-flex w-auto" id="nav-profile-tab"
                                       data-bs-toggle="tab" data-bs-target="#nav-profile" role="tab"
                                       aria-controls="nav-profile" aria-selected="false">لیست خرید بعدی<span
                                            class="count-cart">1</span></a>
                                </div>
                            </nav>
                        </div>
                        <div class="col-12">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    <div class="row"><!-- w-res-sidebar --->
                                        <div class="col-xl-9 col-lg-8 col-12 px-0">
                                            <div class="table-responsive checkout-content dt-sl">
                                                <div class="checkout-header checkout-header--express">
                                                    <svg style="position: absolute;right: 0;" width="20px" height="20px"
                                                         viewBox="0 0 32 32" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_901_3167)">
                                                            <path d="M27.9731 6L28.9731 17H18.9731V5H26.9731C27.5031 5 27.8831 5.27 27.9731 6Z"
                                                                  fill="#FFE6EA"></path>
                                                            <path d="M24.9731 25C26.6331 25 27.9731 26.34 27.9731 28C27.9731 29.66 26.6331 31 24.9731 31C23.3131 31 21.9731 29.66 21.9731 28C21.9731 26.34 23.3131 25 24.9731 25ZM7.97308 25C9.63308 25 10.9731 26.34 10.9731 28C10.9731 29.66 9.63308 31 7.97308 31C6.31308 31 4.97308 29.66 4.97308 28C4.97308 27.69 5.02308 27.38 5.11308 27.1C5.49308 25.88 6.62308 25 7.97308 25Z"
                                                                  fill="#668077"></path>
                                                            <path d="M1.05318 3L2.55318 12L3.87318 20L5.05318 27.08L5.11318 27.1C5.49318 25.88 6.62318 25 7.97318 25C9.63318 25 10.9732 26.34 10.9732 28H21.9731C21.9731 26.34 23.3131 25 24.9731 25C26.6331 25 27.9731 26.34 27.9731 28H30.9731V19C30.9731 18 29.9731 17 28.9731 17H18.9732V2C18.9732 1.48 18.4832 1 17.9732 1H2.97318C1.63318 1 0.773177 1.34 1.05318 3Z"
                                                                  fill="#FFC44D"/>
                                                            <path d="M28 28C28 26.344 26.656 25 25 25C23.344 25 22 26.344 22 28C22 29.656 23.344 31 25 31C26.656 31 28 29.656 28 28ZM28 28H31V19C31 18 30 17 29 17M11 28C11 26.344 9.656 25 8 25C6.344 25 5 26.344 5 28C5 29.656 6.344 31 8 31C9.656 31 11 29.656 11 28ZM11 28H19V2C19 1.484 18.515 1 18 1H3C1.656 1 0.797 1.344 1.078 3L2 9M29 17H22M29 17L28 6C27.906 5.266 27.531 5 27 5H22M8 16H2M9 20H3M7 12H1"
                                                                  stroke="#000000" stroke-width="2"
                                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_901_3167">
                                                                <rect width="32" height="32" fill="white"/>
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                    <span class="checkout-header-title">ارسال عادی</span>
                                                    <span class="checkout-header-extra-info">{{ products.len }}</span>
                                                </div>
                                                <div class="checkout-section-content-dd-k">
                                                    <div class="cart-items-dd-k">
                                                        <div class="cart-item py-4 px-3">
                                                            <div class="item-thumbnail">
                                                                <a href="#">
                                                                    <img src="./assets/img/cart/cart01.jpg" alt="item">
                                                                </a>
                                                            </div>
                                                            <div class="item-info flex-grow-1">
                                                                <div class="item-title">
                                                                    <h2>
                                                                        <a href="#">
                                                                            {{ products.title }}
                                                                        </a>
                                                                    </h2>
                                                                </div>
                                                                <div class="item-detail">
                                                                    <ul>
                                                                        {% for color in products.color.all %}
                                                                            <li>
                                                                                <span class="color"
                                                                                      style="background: black">
                                                                                        </span>
                                                                                <span>{{ color }}</span>

                                                                                <span class="color"
                                                                                      style="background: grey">
                                                                                        </span>
                                                                                <span>{{ color }}</span>

                                                                            </li>
                                                                        {% endfor %}


                                                                        <li>
                                                                            <i class="far fa-shield-check text-muted"></i>
                                                                            <span>گارانتی ۱۸ ماهه</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="far fa-store-alt text-muted"></i>
                                                                            <span>نام فروشنده</span>
                                                                        </li>
                                                                        <li>
                                                                            <i
                                                                                    class="far fa-clipboard-check text-primary"></i>
                                                                            <span>موجود در انبار</span>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="item-quantity--item-price">
                                                                        <div class="item-quantity">
                                                                            {#                                                                             <div class="num-block">#}
                                                                            {#                                                                            <div class="num-in">#}
                                                                            {#                                                                                <span class="plus"></span>#}
                                                                            {#                                                                                <input type="text" class="in-num"#}
                                                                            {#                                                                                    value="1" readonly>#}
                                                                            {#                                                                                <span class="minus dis"></span>#}
                                                                            {#                                                                            </div>#}
                                                                            {#                                                                        </div>#}
                                                                            <div class="input-group" id="cart-qty">
  <span class="input-group-addon ">
    <button class="btn btn-default" type="button" id="minus-btn">
      <i class="fa fa-minus"></i>
    </button>
  </span>
                                                                                <input type="text"
                                                                                       style="width: 10px;text-align: center;border-radius: 4px"
                                                                                       class="form-control input-xs"
                                                                                       id="counter" value="1">
                                                                                <span class="input-group-addon">
    <button class="btn btn-default plus" type="button" id="plus-btn">
      <i class="fa fa-plus"></i>
    </button>
  </span>
                                                                            </div>

                                                                            <script>
                                                                                $(document).ready(function () {
                                                                                    var counter = 1;
                                                                                    $('#minus-btn').click(function () {
                                                                                        if (counter > 1) {
                                                                                            counter--;
                                                                                            $('#counter').val(counter);
                                                                                        }
                                                                                    });
                                                                                    $('#plus-btn').click(function () {
                                                                                        counter++;
                                                                                        $('#counter').val(counter);
                                                                                    });
                                                                                });
                                                                            </script>
                                                                            <button class="item-remove-btn mr-3">
                                                                                <i class="far fa-trash-alt"></i>
                                                                                حذف
                                                                            </button>
                                                                        </div>
                                                                        <div class="item-price">
                                                                            {{ products.price }}<span
                                                                                class="text-sm mr-1">تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-12 sticky-sidebar">
                                            <div class="widget-post1 dt-sn dt-sn--box border mb-2">
                                                <ul class="checkout-summary-summary">
                                                    <li>
                                                        <span>مبلغ کل (3 کالا)</span><span>۱0,000,۰۰۰ تومان</span>
                                                    </li>
                                                    <li class="checkout-summary-discount">
                                                        <span>سود شما از خرید</span><span><span>(۱٪)</span>3۰۰,۰۰۰
                                                        تومان</span>
                                                    </li>
                                                    <li>
                                                    <span>هزینه ارسال<span class="help-sn" data-toggle="tooltip"
                                                                           data-html="true" data-placement="bottom"
                                                                           title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده متفاوت باشد. در صورتی که هر یک از مرسولات حداقل ارزشی برابر با 120هزار تومان داشته باشد، آن مرسوله بصورت رایگان ارسال می‌شود.<br>'حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر باشد.'</p></div>">
   
                                                        </span>
                                                    </span>
                                                        <span>وابسته به آدرس</span>
                                                    </li>
                                                    <li class="checkout-club-container">
                                                    <span>دیجیکلاب<span class="help-sn" data-toggle="tooltip"
                                                                        data-html="true" data-placement="bottom"
                                                                        title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>با امتیازهای خود در باشگاه مشتریان دیجی پرس (دیجی کلاب) از بین جوایز متنوع انتخاب کنید.</p></div>">
                                                          
                                                        </span>
                                                    </span>
                                                        <span><span>120+</span><span> امتیاز</span></span>
                                                    </li>
                                                </ul>
                                                <div class="checkout-summary-devider">
                                                    <div></div>
                                                </div>
                                                <div class="checkout-summary-content">
                                                    <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                                                    <div class="checkout-summary-price-value">
                                                        <span class="checkout-summary-price-value-amount">۱2,000,۰۰۰</span>
                                                        تومان
                                                    </div>
                                                    <a href="#" class="mb-2 d-block">
                                                        <button class="btn-primary-cm btn-with-icon w-100 text-center pr-0">
                                                            <i>
                                                                <svg width="25px" height="25px" viewBox="0 0 24 24"
                                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <g id="Iconly/Curved/Arrow - Left">
                                                                        <g id="Arrow - Left">
                                                                            <path id="Stroke 1"
                                                                                  d="M4.24988 12.2742L19.2499 12.2742"
                                                                                  stroke="#fff" stroke-width="1.5"
                                                                                  stroke-linecap="round"
                                                                                  stroke-linejoin="round"/>
                                                                            <path id="Stroke 3"
                                                                                  d="M10.3002 18.2988C10.3002 18.2988 4.25017 15.0378 4.25017 12.2758C4.25017 9.51176 10.3002 6.24976 10.3002 6.24976"
                                                                                  stroke="#fff" stroke-width="1.5"
                                                                                  stroke-linecap="round"
                                                                                  stroke-linejoin="round"/>
                                                                        </g>
                                                                    </g>
                                                                </svg>
                                                            </i>
                                                            ادامه ثبت سفارش
                                                        </button>
                                                    </a>
                                                    <div>
                                                    <span>
                                                        کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش
                                                        مراحل بعدی را تکمیل کنید.
                                                    </span><span class="help-sn" data-toggle="tooltip" data-html="true"
                                                                 data-placement="bottom"
                                                                 title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش برای شما رزرو می‌شوند. در صورت عدم ثبت سفارش، دیجی پرس هیچگونه مسئولیتی در قبال تغییر قیمت یا موجودی این کالاها ندارد.</p></div>">
                                    
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-post2 dt-sn dt-sn--box checkout-feature-aside pt-4">
                                                <ul>
                                                    <li class="checkout-feature-aside-item">
                                                        <img src="./assets/img/svg/return-policy.svg" alt="">
                                                        هفت روز ضمانت تعویض
                                                    </li>
                                                    <li class="checkout-feature-aside-item">
                                                        <img src="./assets/img/svg/payment-terms.svg" alt="">
                                                        پرداخت در محل با کارت بانکی
                                                    </li>
                                                    <li class="checkout-feature-aside-item">
                                                        <img src="./assets/img/svg/delivery.svg" alt="">
                                                        تحویل اکسپرس
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                     aria-labelledby="nav-profile-tab">
                                    <div class="row">
                                        <div class="col-xl-9 col-lg-8 col-12 px-0">
                                            <div class="table-responsive checkout-content dt-sl">
                                                <div class="checkout-header checkout-header--express">
                                                    <svg style="position: absolute;right: 0;" width="20px" height="20px"
                                                         viewBox="0 0 32 32" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_901_3167)">
                                                            <path d="M27.9731 6L28.9731 17H18.9731V5H26.9731C27.5031 5 27.8831 5.27 27.9731 6Z"
                                                                  fill="#FFE6EA"/>
                                                            <path d="M24.9731 25C26.6331 25 27.9731 26.34 27.9731 28C27.9731 29.66 26.6331 31 24.9731 31C23.3131 31 21.9731 29.66 21.9731 28C21.9731 26.34 23.3131 25 24.9731 25ZM7.97308 25C9.63308 25 10.9731 26.34 10.9731 28C10.9731 29.66 9.63308 31 7.97308 31C6.31308 31 4.97308 29.66 4.97308 28C4.97308 27.69 5.02308 27.38 5.11308 27.1C5.49308 25.88 6.62308 25 7.97308 25Z"
                                                                  fill="#668077"/>
                                                            <path d="M1.05318 3L2.55318 12L3.87318 20L5.05318 27.08L5.11318 27.1C5.49318 25.88 6.62318 25 7.97318 25C9.63318 25 10.9732 26.34 10.9732 28H21.9731C21.9731 26.34 23.3131 25 24.9731 25C26.6331 25 27.9731 26.34 27.9731 28H30.9731V19C30.9731 18 29.9731 17 28.9731 17H18.9732V2C18.9732 1.48 18.4832 1 17.9732 1H2.97318C1.63318 1 0.773177 1.34 1.05318 3Z"
                                                                  fill="#FFC44D"/>
                                                            <path d="M28 28C28 26.344 26.656 25 25 25C23.344 25 22 26.344 22 28C22 29.656 23.344 31 25 31C26.656 31 28 29.656 28 28ZM28 28H31V19C31 18 30 17 29 17M11 28C11 26.344 9.656 25 8 25C6.344 25 5 26.344 5 28C5 29.656 6.344 31 8 31C9.656 31 11 29.656 11 28ZM11 28H19V2C19 1.484 18.515 1 18 1H3C1.656 1 0.797 1.344 1.078 3L2 9M29 17H22M29 17L28 6C27.906 5.266 27.531 5 27 5H22M8 16H2M9 20H3M7 12H1"
                                                                  stroke="#000000" stroke-width="2"
                                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_901_3167">
                                                                <rect width="32" height="32" fill="white"/>
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                    <span class="checkout-header-title">ارسال عادی</span>
                                                    <span class="checkout-header-extra-info">(3 کالا)</span>
                                                    <a class="checkout-add-all-to-cart">
                                                        افزودن همه به سبد خرید
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-12 sticky-sidebar">
                                            <div class="dt-sn dt-sn--box border widget-post1">
                                                <div
                                                        class="section-title text-sm-title title-wide mb-1 no-after-title-wide mb-2">
                                                    <h2 class="text-dark">لیست خرید بعدی چیست؟</h2>
                                                </div>
                                                <p class="text-secondary text-justify"
                                                   style="line-height: 27px;font-size: 13px;">
                                                    شما می‌توانید محصولاتی که به سبد خرید
                                                    خود افزوده اید و موقتا قصد خرید آن‌ها را ندارید، در لیست خرید بعدی
                                                    خود
                                                    قرار داده و
                                                    هر زمان مایل بودید آن‌ها را مجدداً به سبد خرید اضافه کرده و خرید
                                                    آن‌ها
                                                    را تکمیل کنید.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        {% endfor %}
    {% else %}
        <main class="main-content dt-sl mb-3">
            <div class="container main-container">
                <div class="row mt-2">
                    <div style="margin: 0 auto;" class="col-xl-10 col-lg-9 col-md-12 col-sm-12">
                        <div class="dt sl dt-sn dt-sn--box border pt-3 pb-5"
                             style="box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);">
                            <div class="cart-page cart-empty">
                                <div class="circle-box-icon">
                                    <i>
                                        <svg width="70px" height="70px" viewBox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2 3L2.26491 3.0883C3.58495 3.52832 4.24497 3.74832 4.62248 4.2721C5 4.79587 5 5.49159 5 6.88304V9.5C5 12.3284 5 13.7426 5.87868 14.6213C6.75736 15.5 8.17157 15.5 11 15.5H19"
                                                  stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
                                            <path opacity="0.5"
                                                  d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
                                                  stroke="#1C274C" stroke-width="1.5"></path>
                                            <path opacity="0.5"
                                                  d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z"
                                                  stroke="#1C274C" stroke-width="1.5"></path>
                                            <path opacity="0.5" d="M11 9H8" stroke="#1C274C" stroke-width="1.5"
                                                  stroke-linecap="round"></path>
                                            <path d="M5 6H16.4504C18.5054 6 19.5328 6 19.9775 6.67426C20.4221 7.34853 20.0173 8.29294 19.2078 10.1818L18.7792 11.1818C18.4013 12.0636 18.2123 12.5045 17.8366 12.7523C17.4609 13 16.9812 13 16.0218 13H5"
                                                  stroke="#1C274C" stroke-width="1.5"></path>
                                        </svg>
                                    </i>
                                </div>
                                <p class="cart-empty-title mb-2">سبد خرید شما خالیست!</p>
                                <p class="mb-3">می‌توانید برای مشاهده محصولات بیشتر به صفحات زیر بروید:</p>
                                <div class="cart-empty-links mb-5">
                                    <a href="#" class="border-bottom-dt">لیست مورد علاقه من</a>
                                    <a href="#" class="border-bottom-dt">محصولات شگفت‌انگیز</a>
                                    <a href="#" class="border-bottom-dt">محصولات پرفروش روز</a>
                                </div>
                                <a href="#" class="btn-primary-cm">ادامه خرید در دیجی پرس</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endif %}

    <!--------------------------------- Main Content -->

    <!-------------------------- Mobile Footer Section-->
    <div class="mobile-footer d-lg-none d-table justify-content-center shadow-box bg-white position-fixed p-2 w-100"
         style="bottom:0;z-index: 100;table-layout: fixed;">
        <ul class="d-table-row">
            <li class="d-table-cell pointer">
                <div class="mf-link nav-link text-center">
                <span class="d-block mf-link-icon" style="cursor: pointer;">
                    <svg height="25pxx" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 512 512" xml:space="preserve">
                        <path style="fill:#CEE8FA;" d="M395.47,296.3H116.531c-36.816,0-57.855-42.009-35.803-71.491L225.983,30.621
                            c14.993-20.043,45.041-20.043,60.034,0l145.254,194.188C453.325,254.291,432.286,296.3,395.47,296.3z"/>
                        <path style="fill:#2D527C;" d="M443.755,215.471L298.501,21.284C288.382,7.759,272.893,0,256.001,0s-32.383,7.759-42.5,21.284
                            L68.245,215.471c-13.759,18.393-15.916,42.579-5.631,63.119c10.286,20.54,30.946,33.298,53.916,33.298h66.552
                            C185.227,422.598,275.94,512,387.153,512c8.608,0,15.589-6.979,15.589-15.589V381.652c0-8.61-6.981-15.589-15.589-15.589
                            c-14.01,0-27.556-5.074-38.144-14.29c-6.494-5.651-16.339-4.971-21.993,1.525c-5.653,6.494-4.97,16.34,1.525,21.993
                            c12.293,10.699,27.185,17.765,43.025,20.577v84.258c-86.772-7.791-155.289-79.949-157.307-168.237H395.47
                            c22.97,0,43.63-12.759,53.917-33.298C459.671,258.052,457.514,233.866,443.755,215.471z M421.509,264.629
                            c-5.043,10.069-14.777,16.081-26.04,16.081H116.53c-11.261,0-20.995-6.011-26.038-16.081c-5.043-10.07-4.027-21.466,2.72-30.484
                            L238.466,39.957c4.173-5.581,10.565-8.781,17.534-8.781c6.97,0,13.36,3.2,17.534,8.781l145.254,194.188
                            C425.534,243.165,426.551,254.56,421.509,264.629z"/>
                    </svg>
                </span>
                </div>
            </li>
            <li class="d-table-cell">
                <a href="" class="mf-link nav-link text-center">
                    <div class="mf-link-icon position-relative d-table mx-auto">
                        <svg width="25px" height="25px" version="1" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                            <g fill="#616161">
                                <rect x="34.6" y="28.1" transform="matrix(.707 -.707 .707 .707 -15.154 36.586)"
                                      width="4" height="17"></rect>
                                <circle cx="20" cy="20" r="16"></circle>
                            </g>
                            <rect x="36.2" y="32.1" transform="matrix(.707 -.707 .707 .707 -15.839 38.239)"
                                  fill="#37474F" width="4" height="12.3"></rect>
                            <circle fill="#64B5F6" cx="20" cy="20" r="13"></circle>
                            <path fill="#BBDEFB"
                                  d="M26.9,14.2c-1.7-2-4.2-3.2-6.9-3.2s-5.2,1.2-6.9,3.2c-0.4,0.4-0.3,1.1,0.1,1.4c0.4,0.4,1.1,0.3,1.4-0.1 C16,13.9,17.9,13,20,13s4,0.9,5.4,2.5c0.2,0.2,0.5,0.4,0.8,0.4c0.2,0,0.5-0.1,0.6-0.2C27.2,15.3,27.2,14.6,26.9,14.2z"></path>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="d-table-cell">
                <a href="" class="mf-link nav-link text-center">
                    <span class="d-block mf-link-icon">
                        <svg class="svg-icon"
                             style="position: relative;width: 35px; height: 35px;vertical-align: middle;fill: currentColor;overflow: hidden;"
                             viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M336.2 571.3h337.9v319.3H336.2z" fill="#2867CE"></path>
                            <path d="M296.3 405.6l185-185c9-9 20.9-13.5 32.7-13.5 11.9 0 23.7 4.5 32.7 13.5l185.7 185.7 194.1 194.1c1.9 1.9 5.1 1.3 6.2-1.1 7.9-17.9 12.1-37.4 12.1-57.5 0-38.1-14.8-73.8-41.7-100.7L614.7 152.6c-55.6-55.5-145.9-55.5-201.5 0L124.9 441C98 467.9 83.2 503.6 83.2 541.7c0 20.1 4.2 39.7 12.1 57.5 1.1 2.4 4.3 3 6.2 1.1l194.8-194.7z"
                                  fill="#2867CE"></path>
                            <path d="M201.6 566.2c-5.4 5.4-8.4 12.7-8.4 20.3v230.7c0 54.3 44 98.3 98.3 98.3h103.3c10.4 0 18.9-8.4 18.9-18.9V640.7c0-11.4 14.1-16.5 24.2-16.5h152.3c11.6 0 24.2 6.3 24.2 16.5v255.9c0 10.4 8.4 18.9 18.9 18.9h103.3c54.3 0 98.3-44.1 98.3-98.3V586.5c0-7.6-3-14.9-8.4-20.3L526 265.9c-6.7-6.7-17.4-6.7-24.1 0L201.6 566.2z"
                                  fill="#BDD2EF"></path>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="d-table-cell">
                <a href="" class="mf-link nav-link text-center">
                    <div class="position-relative mf-link-icon d-table mx-auto">
                    <span class="d-block mf-link-icon">
                        <svg version="1" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
                             viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                            <path fill="#2E7D32"
                                  d="M25.4,5.6c-0.8-0.8-2-0.8-2.8,0l-12,12c-0.8,0.8-0.8,2,0,2.8C11,20.8,11.5,21,12,21s1-0.2,1.4-0.6l12-12 C26.2,7.6,26.2,6.4,25.4,5.6z"></path>
                            <path fill="#1B5E20"
                                  d="M37.4,17.6l-12-12c-0.8-0.8-2-0.8-2.8,0c-0.8,0.8-0.8,2,0,2.8l12,12C35,20.8,35.5,21,36,21s1-0.2,1.4-0.6 C38.2,19.6,38.2,18.4,37.4,17.6z"></path>
                            <path fill="#388E3C"
                                  d="M37.4,41H10.6c-1,0-1.8-0.7-2-1.6L5,21h38l-3.7,18.4C39.1,40.3,38.3,41,37.4,41z"></path>
                            <path fill="#4CAF50"
                                  d="M43,23H5c-1.1,0-2-0.9-2-2v-2c0-1.1,0.9-2,2-2h38c1.1,0,2,0.9,2,2v2C45,22.1,44.1,23,43,23z"></path>
                            <polygon fill="#DCEDC8"
                                     points="30.8,24.8 22.9,32.7 19.2,28.9 17,31.1 22.9,37 33,26.9"></polygon>
                        </svg>
                    </span>
                    </div>
                </a>
            </li>
            <li class="d-table-cell">
                <a class="mf-link nav-link text-center" data-bs-toggle="offcanvas" href="#cartCanvas" role="button"
                   aria-controls="cart canvas">
                    <div class="position-relative mf-link-icon d-table mx-auto">
                    <span class="d-block mf-link-icon">
                        <svg width="25px" height="25px" version="1" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                            <path fill="#607D8B"
                                  d="M39.6,27.2c0.1-0.7,0.2-1.4,0.2-2.2s-0.1-1.5-0.2-2.2l4.5-3.2c0.4-0.3,0.6-0.9,0.3-1.4L40,10.8 c-0.3-0.5-0.8-0.7-1.3-0.4l-5,2.3c-1.2-0.9-2.4-1.6-3.8-2.2l-0.5-5.5c-0.1-0.5-0.5-0.9-1-0.9h-8.6c-0.5,0-1,0.4-1,0.9l-0.5,5.5 c-1.4,0.6-2.7,1.3-3.8,2.2l-5-2.3c-0.5-0.2-1.1,0-1.3,0.4l-4.3,7.4c-0.3,0.5-0.1,1.1,0.3,1.4l4.5,3.2c-0.1,0.7-0.2,1.4-0.2,2.2 s0.1,1.5,0.2,2.2L4,30.4c-0.4,0.3-0.6,0.9-0.3,1.4L8,39.2c0.3,0.5,0.8,0.7,1.3,0.4l5-2.3c1.2,0.9,2.4,1.6,3.8,2.2l0.5,5.5 c0.1,0.5,0.5,0.9,1,0.9h8.6c0.5,0,1-0.4,1-0.9l0.5-5.5c1.4-0.6,2.7-1.3,3.8-2.2l5,2.3c0.5,0.2,1.1,0,1.3-0.4l4.3-7.4 c0.3-0.5,0.1-1.1-0.3-1.4L39.6,27.2z M24,35c-5.5,0-10-4.5-10-10c0-5.5,4.5-10,10-10c5.5,0,10,4.5,10,10C34,30.5,29.5,35,24,35z"></path>
                            <path fill="#455A64"
                                  d="M24,13c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C36,18.4,30.6,13,24,13z M24,30 c-2.8,0-5-2.2-5-5c0-2.8,2.2-5,5-5s5,2.2,5,5C29,27.8,26.8,30,24,30z"></path>
                        </svg>
                    </span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
        <script>
    $(document).on('click','#cartadd',function(e){
      e.preventDefault();
      $.ajax({
          type :'POST',
          url  : '{% url 'cartadd' %}',
          data:{
              Product_id : $('#cartadd').val(),
              product_qty : $('#cart-qyt input:selected').text(),
              csrfmiddlewaretoken : '{{ csrf_token }}',
              action : 'post',
          },
          success: function (json){
              console.log(json)
              document.getElementById('cart_len').textContent = json.qty
              {#location.reload()#}
          },
          error: function (xhr,errmsg,err){
              
          }
      })
    })
    </script>


{% endblock %}